.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: 282c34;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 12px); 
  box-sizing: border-box;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

button:hover {
  background-color: #21a1f1;
}

.spacer {
  height: 2em; 
}

@import "~@fortawesome/fontawesome-free/css/all.min.css";

.App-footer {
  color: #dfdfdf;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: #484848; 
  padding: 5px;
}

.App-footer i {
  color: #fff;
  margin-right: 10px;
  font-size: 20px; 
}

